.m-comment-list {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  h3 {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .m-comment-item {
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
  }
  .u-apply-tips{
    padding-left: 20px;
  }
  .m-apply-list{
    padding-left: 20px;
  }
  .u-btn-apply{
    display: block;
    padding-left: 20px;
    color: #317ee7;
  }
  .m-apply {
    textarea {
      height: 100px;
      padding-left: 10px;
      width: 500px;
      box-sizing: border-box;
      vertical-align: top;
      resize: none;
      display: block;
      font-family: "微软雅黑";
    }
    a {
      vertical-align: bottom;
      text-align: center;
      display: inline-block;
      color: #fff;
      width: 80px;
      height: 40px;
      line-height: 40px;
      background: #317ee7;
      margin-right: 10px;
    }
  }
}