.p-comment{
  font-family: "微软雅黑";
  width: 800px;
  margin: 30px auto;
  .m-comment-input{
    textarea{
      display: block;
      width: 400px;
      height: 100px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 10px;
      line-height: 24px;
      outline: none;
      font-family: "微软雅黑";
      font-size: 16px;
    }
    button{
      width: 400px;
      height: 40px;
      box-sizing: border-box;
      font-size: 16px;
      border: none;
      outline: none;
      background: #317ee7;
      color: #fff;
      cursor: pointer;
      &:hover{
        opacity: .8;
      }
    }
  }
  .m-comment-list{
    margin-top: 30px;
    font-size: 16px;
    line-height: 40px;
    h3{
      line-height: 20px;
      margin-bottom: 10px;
    }
    .m-comment-item{
      border-bottom: 1px solid #ccc;
    }
  }
}