.m-comment-list {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  h3 {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .m-comment-item {
    border-bottom: 1px solid #ccc;
  }
  .m-apply {
    input {
      height: 40px;
      padding-left: 10px;
      width: 300px;
      box-sizing: border-box;
      vertical-align: top;
    }
    a {
      vertical-align: top;
      text-align: center;
      display: inline-block;
      color: #fff;
      width: 80px;
      height: 40px;
      line-height: 40px;
      background: #317ee7;
      margin-left: 10px;
    }
  }
}