body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}

ol,ul{margin:0; padding:0;}

em, i {
  font-style: normal;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 12px;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*常用样式*/
.clear {
  clear: both;
}